@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Poppins', sans-serif;
    @apply bg-white text-gray-800;
  }
}

@layer utilities {
  .tap-target {
    min-height: 44px;
    min-width: 44px;
  }
}
